Repository Boys-In-The-Shed/PiggyBank, pull requests merged in 2021-09, with the labels that each got.

#31 10 payment intent handler
  src/PiggyBank/PiggyBank.Lambda.Function/Endpoints/DemoEndpoint.cs
  src/PiggyBank/PiggyBank.Lambda.Function/Endpoints/PaymentSetupEndpoint.cs
  src/PiggyBank/PiggyBank.Lambda.Function/Endpoints/TestStripeEndpoint.cs
  src/PiggyBank/PiggyBank.Lambda.Function/Function.cs
  src/PiggyBank/PiggyBank.Lambda.Function/PiggyBank.Lambda.Function.csproj
  src/PiggyBank/PiggyBank.Lambda.Function/RequestModels/PaymentSetupRequestModel.cs
  src/PiggyBank/PiggyBank.Lambda/IEndpoint.cs
  src/PiggyBank/PiggyBank.Lambda/Request.cs
  src/PiggyBank/PiggyBank.Stripe/IStripeService.cs
  src/PiggyBank/PiggyBank.Stripe/PiggyBank.Stripe.csproj
  src/PiggyBank/PiggyBank.Stripe/StripeService.cs
  src/PiggyBank/PiggyBank.sln
  src/PiggyBank/routes.json
  src/pb-app/src/checkout-form/index.jsx
  terraform/lambda.tf
Labels: back-end

#32 Added DynamoDB table for database
  terraform/dynamodb.tf
Labels: infrastructure

#34 Added database layer exposing IKeyValueStore
  src/PiggyBank/PiggyBank.Database/DynamoKeyValueStore.cs
  src/PiggyBank/PiggyBank.Database/IKeyValueStore.cs
  src/PiggyBank/PiggyBank.Database/PiggyBank.Database.csproj
  src/PiggyBank/PiggyBank.Lambda.Function/Endpoints/DemoDatabaseEndpoint.cs
  src/PiggyBank/PiggyBank.Lambda.Function/Function.cs
  src/PiggyBank/PiggyBank.Lambda.Function/PiggyBank.Lambda.Function.csproj
  src/PiggyBank/PiggyBank.sln
  src/PiggyBank/routes.json
  terraform/lambda.tf
Labels: back-end

#36 Added PaymentSetupResponseModel, added GetBalanceEndpoint and GetBala…
  src/PiggyBank/PiggyBank.Lambda.Function/Endpoints/GetBalanceEndpoint.cs
  src/PiggyBank/PiggyBank.Lambda.Function/Endpoints/PaymentSetupEndpoint.cs
  src/PiggyBank/PiggyBank.Lambda.Function/ResponseModels/GetBalanceResponseModel.cs
  src/PiggyBank/PiggyBank.Lambda.Function/ResponseModels/PaymentSetupResponseModel.cs
Labels: back-end

#38 37/Fixed zero balance failure to display.
  src/pb-app/src/App.jsx
Labels: front-end

#39 29 post payment confirm
  src/PiggyBank/PiggyBank.Lambda.Function/Endpoints/PaymentSetupEndpoint.cs
  src/PiggyBank/PiggyBank.Lambda.Function/Endpoints/PostPaymentConfirmEndpoint.cs
  src/PiggyBank/PiggyBank.Lambda.Function/Function.cs
  src/PiggyBank/PiggyBank.Lambda.Function/RequestModels/PaymentConfirmRequestModel.cs
  src/PiggyBank/PiggyBank.Lambda.Function/ResponseModels/PaymentConfirmResponseModel.cs
  src/PiggyBank/PiggyBank.Stripe/IPaymentIntentService.cs
  src/PiggyBank/PiggyBank.Stripe/IStripeService.cs
  src/PiggyBank/PiggyBank.Stripe/StripeService.cs
Labels: back-end
